<a href="https://colab.research.google.com/github/rizkyirw/MSIB/blob/main/Python_Exercises_1_Kelompok_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Group 3 :
- Fithri Nur'aini
- Hafiz Clevanota
- Isro' Rizky Wibowo

# Data Type

In [ ]:
data1 = 20

data2 = 20.5

data3 = '20'

data4 = True

1. Cek data type for each data above

In [ ]:
print(type(data1))
print(type(data2))
print(type(data3))
print(type(data4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

2. Convert data3 to float data type

In [ ]:
data3 = float
print(data3)

<class 'float'>

# Data List

In [ ]:
data_list = [10,2,4,7,3,20,30,50,100,8,9,12,14]

1. Write a Python program to calculate the length of a string

In [ ]:
print(len(data_list))

13

2. Write a Python program to sum all the items in a list

In [ ]:
print(sum(data_list))

269

3. Write a Python program to get the largest number from a list

In [ ]:
print(max(data_list))

100

4. Write a Python program to get the smallest number from a list

In [ ]:
print(min(data_list))

2

5. Retrieve data from index 3 to 5

In [ ]:
print(data_list[3:6])

[7, 3, 20]

6. Retrieve data from index 0 to 4

In [ ]:
print(data_list[:5])

[10, 2, 4, 7, 3]

7. Retrieve data from index 2 to the last

In [ ]:
print(data_list[2:])

[4, 7, 3, 20, 30, 50, 100, 8, 9, 12, 14]

8. Retrieve data from last index only

In [ ]:
print(data_list[-1:])

[14]

9. Add data 110 to data_list

In [ ]:
data_list.append(110)
print(data_list)

[10, 2, 4, 7, 3, 20, 30, 50, 100, 8, 9, 12, 14, 110]

10. Sort data from smallest to largest

In [ ]:
sorted(data_list)

[2, 3, 4, 7, 8, 9, 10, 12, 14, 20, 30, 50, 100, 110]

# Data Dictionary

In [ ]:
data_dict = { 'buah': ['apple', 'grape', 'watermelon'], 'kendaraan': ['mobil', 'motor', 'kereta'], 'warna': ['merah', 'kuning', 'hijau'] }

1. Retrieve value from key buah

In [ ]:
print(data_dict['buah'])

['apple', 'grape', 'watermelon']

2. Retrieve value from key kendaraan

In [ ]:
print(data_dict['kendaraan'])

['mobil', 'motor', 'kereta']

3. Retrieve value from warna, but 'merah' only

In [ ]:
data_dict['warna'][0]

'merah'

# Looping

1. Print value 1 to 10 using while loop and for loop

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while(i<11):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print numbers from 1 to 20 (if divisible by 2 then print 'even value', if not then 'odd value' ->Clue: x % 2 == 0

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i, 'is even value')
    else:
        print(i, 'is odd value')

1 is odd value
2 is even value
3 is odd value
4 is even value
5 is odd value
6 is even value
7 is odd value
8 is even value
9 is odd value
10 is even value
11 is odd value
12 is even value
13 is odd value
14 is even value
15 is odd value
16 is even value
17 is odd value
18 is even value
19 is odd value
20 is even value

3. Write a program to print multiplication table of 2

In [ ]:
lst2 = []

for i in range(20):
    if i % 2 == 0:
      lst2.append(i)

print([lst2]*2)

[[0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]]

4. Write a program to display only those numbers from a list that satisfy the following conditions: list = [12,25,50,70,75,80,125,150,200,272,287,290,300,400,502,100]

In [ ]:
list = [12,25,50,70,75,80,125,150,200,272,287,290,300,400,502,100]

- The number must be divisible by five

In [ ]:
new_list = [x//5 for x in list]
print(new_list)

[2, 5, 10, 14, 15, 16, 25, 30, 40, 54, 57, 58, 60, 80, 100, 20]

- If the number is between 200 and 300, then print 2 * the numbers

In [ ]:
for i in list[8:-3]:
  print([i])
  print('the value of 2*number is ',[i*2])

[200]
the value of 2*number is  [400]
[272]
the value of 2*number is  [544]
[287]
the value of 2*number is  [574]
[290]
the value of 2*number is  [580]
[300]
the value of 2*number is  [600]

- If number is greater than 500 then print 'out of range'

In [ ]:
lst = [i for i in list if i>=500]
print('the value',lst, 'is out of range')

the value [502] is out of range

5. Print list in reverse order using a loop list1 = [10, 20, 30, 40, 50] -> clue: reversed()

In [ ]:
list1 = [10, 20, 30, 40, 50]
for lst in reversed(list1):
  print(lst)

50
40
30
20
10

6. Display numbers from -10 to -1 using for loop

In [ ]:
for i in reversed(range(-1,-11,-1)):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

7. Use a loop to display elements from a given list present at odd index positions my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
for i in my_list[::2]:
  print(i,'-> odd index position at : ',my_list.index(i))

10 -> odd index position at :  0
30 -> odd index position at :  2
50 -> odd index position at :  4
70 -> odd index position at :  6
90 -> odd index position at :  8